table {
  width: 50%;
}

.pointer{
  cursor: pointer;
}
.search{
  color: #1878b8;
}
.edit{
  color:  #1878b8;
}
.delete{
  color: #e15739;
}
mat-form-field{
  width: 100%;
  margin-top: 5px;
}